.logo {
    border-radius: 50%;
    height: 80px;
    color: white;
    object-fit: cover;
  }

img{
  height: 200px;
  object-fit: cover;

}

.transparent{
  background-image: linear-gradient(to right , rgb(0, 85, 255), transparent);
  color: black;
  width: 100%;
}
.nav-link:hover{
  background-color:  rgb(0, 85, 255);
  border-radius: 10px;
  transform-origin: 1s;
}footer {
  position: sticky;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .main-sidebar {
    display: none;
  }
  
  .navbar-nav {
    display: flex;
    flex-direction: row;
  }
  
  .navbar-nav .nav-item {
    padding: 0 10px;
  }
  
  .menu-toggle {
    display: block;
  }
}
